Package: com.gilshahar7.avlock
Name: AVLock
Depends: mobilesubstrate
Version: 1.0.4
Architecture: iphoneos-arm
Description: Add an orientation lock button to the stock iOS video player
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
